:root {
    --branding-color:#9f34e6;
    --secondary-color:rgba(222, 63, 243, 0.3);
    --heading-font-family:"Playfair Display", serif;
    --default-font-family:'Poppins', serif;
}
@media (max-width: 900px){
    h1{
        font-size: 34px;
        line-height: 1.3;
    }
    h2{
        font-size: 28px;
    }

    @media (min-width: 992px){
.col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
}
    }
    
.hero {
    padding: 100px 20px;
    text-align: center;
}
    .project-container{
        padding: 0;
        text-align: center;
    }
   
}

@media (prefers-reduced-motion: no-preference){
    :root {
        scroll-behavior: smooth;
    }
    }
    
    @media (min-width: 576px){
    .d-sm-block {
        display: block!important;
    }
    }
    
    /* @media (min-width: 768px){
    .container, .container-md, .container-sm {
        max-width: 720px;
    }
    } */

.hero {
    /* background: var(--secondary-color) ; */
    text-align: center;
    padding: 60px 20px;
}
.hero p{
    font-size: 36px;   
    margin: 0;
}
.hero h2{
    font-family: 'Poppins', serif;
    font-weight: normal;
    line-height: 2;
    font-size: 34px;
}
.hero h1{
    color: var(--branding-color); 
}


.btn-branding {
    color: bisque;
    background-color: var(--branding-color);
    border: var(--branding-color) 1px solid;
    padding: 12px 20px;
    font-family: 'Poppins', serif;
    font-weight: bold;
    border-radius: 5px;
    line-height: 27px;
    font-size: 18px;
}

.btn-branding-outline{
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
    border-radius: 5px;
    line-height: 27px;
    font-size: 18px;
    padding: 12px 20px;  
}

.content {
   
        text-align: center;
        padding: 0;
      }
     
      footer .email-link {
        text-decoration: none;
        color: black;
        font-size: 24px;
      }
      footer .email-link:hover {
        color: var(--branding-color);
      }
      footer .social-links a {
        margin: 0 10px;
        color: var(--branding-color);
        background: var(--secondary-color);
        padding: 10px 14px;
        font-size: 18px;
        border-radius: 50%;
        text-align: center;
      }
      footer .social-links a:hover {
        color: white;
        background: var(--branding-color);
        transition: all 100ms ease-in-out;
      }

      .content-container {
        text-align: center;
        padding: 60px 20px;
        
    }
    

.content h1 {
    font-size: 64px;
    line-height: 80px;
}

    img{
        width: 448px;
    }
    .logo {
        max-height: 0px;
        max-width: 150px;
    }

    .navbar-brand{
        font-family: 'Poppins', serif;
        font-weight: bold; 
        font-size: 30px;
        color: var(--branding-color);
      
    white-space: nowrap; 
    }
    nav{
        padding: 30px 0;
    }

    .topic {
        padding: 60px 120px;
    }
    footer .contact-box {
        background-color: var(--secondary-color);
        padding: 30px;
        margin-bottom: 50px;
        border-radius: 10px;
    }
